[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
_Recovery/
_BackUpThisFolder_ButDontShipItWithYourGame/
.utmp/
.claude/
.idea/
.vs/
.vscode/
*.csproj
*.sln
*.pidb
*.pdb
*.mdb
*.blob
*.log
*.tmp
*.apk
!Teleoperation.apk
*.aab
*.unitypackage
AssetStoreTools/
